* {
  font-family: 'Droid Sans', sans-serif;
}

.homePage {
  margin: 0 auto;
  width: 80%;
}

.homePage h1 {
  margin-top: 28px;
  text-align: center;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 3px 52px 3px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 10px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 4px 10px;
  border-bottom: 1px solid #ccc;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.most-complaints .Dropdown-control {
  width: 25%;
  margin: 0 auto;
}

.most-complaints .Dropdown-option {
}

.most-complaints .Dropdown-menu {
  width: 25%;
  margin-left: 37.5%;
  overflow-x: hidden;
}

.most-complaints, .fastest-growing {
  margin-bottom: 50px;
}

.most-complaints, .fastest-growing, .birth-complaints {
  width: 90%;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid #2574A9;
  min-height: 200px;
  padding: 10px;
  margin: 0 auto;
}

.fastest-growing h4:first-child, .most-complaints h4, .birth-complaints h4:first-child {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.fastest-growing h4 {
  text-align: center;
}

.birth-complaints h4 {
  text-align: center;
}

.dates .Dropdown-control {
  width: 31.3%;
  display: inline-block;
  float: left;
  margin-left: 1.5%;
}
.dates .Dropdown-menu {
  width: 31.3%;
  overflow-x: hidden;
}

.dates .Dropdown-root:last-child .Dropdown-menu {
  margin-left: 67.1%;
  margin-top: 45px;
}

.dates .Dropdown-root:nth-of-type(2) .Dropdown-menu {
  margin-left: 34.3%;
  margin-top: 45px;
}

.dates .Dropdown-root:nth-of-type(1) .Dropdown-menu {
  margin-left: 1.5%;
  margin-top: 45px;
}
.date-labels div {
  width: 33.3%;
  display: inline-block;
  float: left;
  text-align: center;
}

.birth-table {
  margin-top: 60px;
  height: 300px;
  overflow: auto;

}

.Dropdown-placeholder {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.birth-table {
  width: 96.9%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

table thead tr th, table tbody tr {
  text-align: center;
}

.btn-container {
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn-container button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}